body {
  font: normal 14px Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  margin: 0;
  background-color: #f4f5f7;
  padding-top: 50px;
}

a {
  text-decoration: none;
}

/* Top Nav Bar */



/* Main Menu */

@media only screen and (max-width: 759px) {
  .main-menu {
    display: none;
  }
}

.main-menu {
  background-color: #fff;
  opacity: 0.85;
  padding: 20px;
  width: 300px;
}

/* Streetview */

#pano {
  width: 200px;
  height: 200px;
}

/* NY Times Container */

.nytimes-container {
  padding: 10px;
}

.article-list {
  margin: 0;
  padding: 0;
}

.article {
  list-style-type: none;
  padding:10px;
  border-top: 1px solid #CCC;
}
.article:first-child {
  border-top:none;
}

/* Map */

#map {
  min-height: 500px;
  min-width: 300px;
  max-height: 1000px;
  max-width: 1500px;
}

/* Hamburger Menu for Mobile and Tablet*/

* {
  -moz-transition: all .4s cubic-bezier(.1,.7,.3,1);
  -webkit-transition: all .4s cubic-bezier(.1,.7,.3,1);
  -o-transition: all .4s cubic-bezier(.1,.7,.3,1);
  -ms-transition: all .4s cubic-bezier(.1,.7,.3,1);
  transition: all .4s cubic-bezier(.1,.7,.3,1);
}

ul {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}

.menu {
  padding-top: 15px;
  z-index: 100;
  position: fixed;
}

.mobile-menu {
  display: block;
  height: 42px;
  padding: 5px;
  width: 40px;
  margin-left: 0;
  background-color: rgba(33,40,44,.1);
  border-bottom-right-radius: 10px;
  color: #fff;
}
.mobile-menu.is-open,
.mobile-menu:hover {
  background-color: rgba(33,40,44,1);
}

.mobile-menu.is-open {
  height: 485px;
  width: 165px;
  opacity: 0.85;
}

.menu-panel {
  text-align: center;
  margin-left: -300px;
}
.is-open .menu-panel {
  margin-left: 0;
  padding-right: 18px;
}

@media only screen and (min-width: 760px) {
  .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 342px) {
  .menu {
    padding-top: 50px;
  }
}

.menu-hamburger {
  position: relative;
  left: 0;
  top: 0;
  width: 54px;
  height: 54px;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.menu-hamburger > .layer {
  background-color: #fff;
  border-radius: 1px;
  display: block;
  height: 2px;
  overflow: hidden;
  position: absolute;
  left: 5px;
  width: 18px;
}

.menu-hamburger .layer.top { top: 9px; }
.is-open .menu-hamburger .layer.top {
  top: 17px;
  left: 5px;
  transform: rotate(45deg);
}
.menu-hamburger .layer.mid { top: 16px; }
.is-open .menu-hamburger .layer.mid {
  opacity: 0;
  left: 0;
}
.menu-hamburger .layer.btm { top: 23px; }
.is-open .menu-hamburger .layer.btm {
  top: 17px;
  left: 5px;
  transform: rotate(-45deg);
}
